.button {
  background: #2498CB;
  border: none;
  border-radius: 3px;
  color: white;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-large;
  font-weight: bold;
  padding: $s-size;
  text-decoration: none;
  text-align: center;
  width: 10rem;
}

.button--log {
  float: none;
  width: auto;
}

.button--new {
  width: auto;
}

.button--rem {
  @extend .button;
  background: $red;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
