input {
  font-family: 'Kranky', cursive;
}

.text-input {
  border: 1px solid #cacccd;
  height: 52px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  text-align: center;
}

.textarea {
  @extend .text-input;
}

.content-input {
  font-family: 'Swanky and Moo Moo', sans-serif;
  font-size: $font-size-xlarge;
  height: 30rem;
}

.title-input {
  font-size: $font-size-xlarge;
}
