.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.search-inputs {
  text-align: center;
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}
